	<div class="row column">
		<footer class="site-footer">
			<p class="copyright">Made with love by folks at <a href="http://www.69signals.com" target="_blank">69signals</a>.</p><!-- .copyright -->

			<div class="navigation footer-navigation">
				<ul class="navigation-menu">
					{% for links in site.footer_links %}
						<li>
							<a href="{{ links[1][1] }}">{{ links[1][0] }}</a>
						</li>
					{% endfor %}
				</ul><!-- .navigation-menu -->
			</div><!-- .navigation -->
		</footer><!-- .site-footer -->
	</div><!-- .row -->
</div><!-- #page -->

<div class="s-search">
    <div class="s-search-wrapper">
    	<form method="get" action="https://www.google.com/search">
			<input type="search" name="q" size="25" maxlength="255" placeholder="Search.." value="" />
		</form>

        <p>Begin typing your search above and press return to search. Press Esc to cancel.</p>

        <span class="s-search-close"></span><!-- .s-search-close -->
    </div><!-- .s-search-wrapper -->
</div><!-- .s-search -->

<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
<!-- Made with <3 by 69signals (http://www.69signals.com/) -->
</body>
</html>