---
layout: default
---

<div class="row">
    <div class="large-8 column content-area main-left">
        <div class="home-page-posts animated fadeIn">
            {% if paginator.posts %}
                {% for post in paginator.posts %}
                    <article class="post">
                        <div class="post-preview">
                            <div class="date-time">
                                {{ post.date | date: '%B %d, %Y' }}
                            </div><!-- .date-time -->
                        
                            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

                            <div class="excerpt">
                                {{ post.content }}
                            </div><!-- .excerpt -->

                            <p class="meta">
                                <a href="{{ post.author_url | prepend: site.baseurl }}">{{ post.author_name | capitalize}}</a> in <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize }}</a>
                            </p><!-- .meta -->
                        </div><!-- .post-preview -->
                    </article><!-- .post -->
                {% endfor %}
            {% else %}
                {% for post in site.posts %}
                    <article class="post">
                        <div class="post-preview">
                            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

                            <div class="excerpt">
                                {{ post.content }}
                            </div><!-- .excerpt -->

                            <p class="meta">
                                <a href="{{ post.author_url | prepend: site.baseurl }}">{{ post.author_name | capitalize}}</a> in <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize }}</a>
                            </p><!-- .meta -->
                        </div><!-- .post-preview -->
                    </article><!-- .post -->
                {% endfor %}
            {% endif %}
        </div><!-- .home-page-posts -->

        {% if paginator.posts %}
            <div class="pagination">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                {% else %}
                    <span class="previous">Previous</span>
                {% endif %}
                
                <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                {% else %}
                    <span class="next ">Next</span>
                {% endif %}
            </div><!-- .pagination -->
        {% endif %}
    </div><!-- .large-8 -->

    <div class="large-4 column widgets-area">
        <div class="meta sticky text-left">
            <a href="javascript:;" class="signals-ripple">
                <img src='{{ "/img/" | append: site.sidebar.author_avatar | prepend: site.baseurl }}.jpg' alt="{{ site.sidebar.author_name }}">
            </a><!-- .signals-ripple -->

            <div class="sidebar-info">
                <a href='{{ "/author/" | append: site.sidebar.author_avatar | prepend: site.baseurl }}'><strong>{{ site.sidebar.author_name }}</strong></a>
            </div><!-- .sidebar-info -->

            <div class="sidebar-text">
                <p>{{ site.sidebar.author_about }}</p>
            </div><!-- .sidebar-text -->

            <ul class="home-links float-none">
                <li>
                    <i class="fa fa-fw fa-location-arrow"></i> &nbsp;
                    {{ site.sidebar.author_location }}
                </li>

                {% for social in site.social_links %}
                    <li>
                        <i class="fa fa-fw {{ social[1][2] }}"></i> &nbsp;
                        <a href="{{ social[1][1] }}" title="{{ social[1][0] }}" target="_blank" class="">{{ social[1][0] }}</a>
                    </li>
                {% endfor %}
            </ul><!-- .social-links -->
        </div><!-- .meta -->
    </div><!-- .large-4 -->
</div><!-- .row -->